.tooltip-global {
  position: fixed !important;
  z-index: 9999999 !important;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 5px;

  white-space: nowrap;

  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.tooltip-global.show {
  opacity: 1;
  transform: scale(1);
}
